<html>
<head>
  <title>Branden's News - {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="../index.css">
  <meta charset="UTF-8">
</head>
<body class="bg-black">
<div class="display-inline-block border-double border-slate-200 m-1">
  <a href=../ class="text-white font-md no-underline m-1 font-mono">home</a>
</div>
<div class="m-5">
  <span class="text-white font-lg font-mono">
    {{ title }}
    <span>
      {% for category in other_categories %}
      <a 
        href=../categories/{{ category.id }}
        class="text-slate-400 font-sm no-underline"
      >
        {{ category.title }}
      </a>
      {% endfor %}
    </span>
  </span>
</div>
<div>
  <ul class="text-slate-400">
    {% for item in items %}
    <li class="m-5">
      <div>
        <a class="text-white font-md no-underline font-mono visited-text-slate-400" href={{ item.link }}>{{ item.title }}</a>
      </div>
      <div>
        <a class="text-slate-400 font-sm font-mono no-underline" href=../sources/{{ item.source_id }}.html>{{ item.source }}</a>
        <p class="display-inline whitespace-pre text-slate-400 font-sm font-mono"> // {{ item.published_at }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
</body>
</html>
